@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 60px;
}

.canvas{
    border: black solid 2px;
}

.nastroje{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

button{
    margin: 5px;
    padding: 15px;
    border: black solid 1px;
    background-color: white;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

input[type="color"]{
    margin: 15px;
    border: black solid 1px;
    background-color: white;
    cursor: pointer;
}

.label{
    margin: 17px;
}

input[type="number"]{
    margin: 5px;
    width: 50px;
    border: black solid 1px;
    background-color: white;
    cursor: pointer;
}

.bezkriv .x .Y{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}